_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.local/
.bundle/
.metals/
.vscode/
.secrets
.python-version
.idea/
.ipynb_checkpoints/
__pycache__/
.venv/
**/build
code/**/api/native.c
code/**/api/native.*.so
.venv-*/
