.container {
    max-width: 70em;
}

img + em { 
    display: block; 
    text-align: center; 
    font-size: smaller;
} 

img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    display: block; 
}
